@model object

@{
    var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
    htmlAttributes.Add("class", "form-control");
    htmlAttributes.Add("data-datetimepicker", "");
    htmlAttributes.Add("data-date-autoclose", "true");

    if (!htmlAttributes.Any(p => p.Key.Equals("data-min-view")))
    {
        htmlAttributes.Add("data-min-view", "3");
    }

    if (!htmlAttributes.Any(p => p.Key.Equals("data-date-format")))
    {
        htmlAttributes.Add("data-date-format", "yyyy/mm/dd");
    }
}

@Html.TextBox("", Model, ViewData.ModelMetadata.DisplayFormatString, htmlAttributes)
@*<span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
</span>*@