@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="@Url.Action(MVC.User.ChangePassword())"><i class="fa fa-lock fa-fw"></i> 變更密碼</a>
            </li>
            <li>
                <a href="@Url.Action(MVC.Account.LogOff())"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
}